@using UfoGame.Cards.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@inject ViewModel.LaunchMissionPlayerAction LaunchMission
@inject StaffData StaffData
@inject ArchiveData ArchiveData
@inject MissionDeployment MissionDeployment
@inject MissionSite MissionSite
@inject MissionStats MissionStats
@inject Agents Agents
<Card Title="Mission">
    <CardDataRow Label="Available in" 
                 Value="@MissionSite.Data.AvailableIn" 
                 Enabled="@(!MissionSite.CurrentlyAvailable)" />
    <CardDataRow Label="Expires in"
                 Value="@MissionSite.Data.ExpiresIn"
                 Enabled="@MissionSite.CurrentlyAvailable"
                 ValueCssClass="@(MissionSite.AboutToExpire ? "text-danger" : "")"/>
    <CardDataRow Label="Enemy faction"
                 Value="@MissionSite.FactionData.Name"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Money reward"
                 Value="@("$"+MissionStats.MoneyReward)"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Enemy power"
                 Value="@MissionStats.EnemyPower"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Our power"
                 Value="@MissionStats.OurPower"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Mission success %"
                 Value="@(MissionStats.SuccessChance + "%")"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Baseline agent surv. %"
                 Value="@(MissionStats.BaselineAgentSurvivalChance + "%")"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Transport capacity"
                 Value="@MissionDeployment.Data.TransportCapacity"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardDataRow Label="Ready agents"
                 Value="Agents.AgentsSendableOnMissionCount"
                 ValueCssClass="text-success" />
    <CardDataRow Label="Agents to send" 
                 Value="@Agents.AgentsAssignedToMissionCount"
                 Enabled="@MissionSite.CurrentlyAvailable" />
    <CardButtonWithRangeInput PlayerAction="LaunchMission" />
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col @GetLastMissionReportCssClass()">
            @ArchiveData.LastMissionReport
        </div>
    </div>
</Card>

@code
{
    private string GetLastMissionReportCssClass()
    {
        var report = ArchiveData.LastMissionReport;

        if (report == ArchiveData.NoMissionsReport)
            return "";

        return report.Contains("successful") ? "text-success" : "text-danger";
    }
}