@using UfoGame.Cards.Components

@* This component is currently unused. *@
<div class="list-group-item" aria-current="true">
    <div class="container-fluid px-0">
        <div class="row px-2">
            <div class="col col-auto me-auto">
                <div class="row">
                    <h5 class="ps-0">Stage name</h5>
                </div>
                <div class="row row-cols-auto">
                    <div class="col ps-0">Turn: @Index</div>
                    <div class="col">Rating: Excellent</div>
                </div>
            </div>
            <div class="col col-auto align-self-center d-flex justify-content-center">
                <button class="btn btn-primary" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#agentInfo_@Index" 
                        aria-expanded="false" aria-controls="agentInfo_@Index">
                    i
                </button>
            </div>
        </div>
        <div class="row collapse px-0" id="agentInfo_@Index">
            <Card Title="Details">
                <div class="row">
                    <div class="col" style="text-align: justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <CardDataRow Label="Agents wounded" Value="@("Val1")" />
                <CardDataRow Label="Agents lost" Value="@("Val1")" />
                <CardDataRow Label="Agents remaining" Value="@("Val1")" />
                <CardDataRow Label="Enemies encountered" Value="@("Val1")" />
                <CardDataRow Label="Enemies wounded" Value="@("Val1")" />
                <CardDataRow Label="Enemies neutralized" Value="@("Val1")" />
                <CardDataRow Label="Enemies remaining" Value="@("Val1")" />
                <CardDataRow Label="Team morale" Value="@("Val1")" />
            </Card>
        </div>
    </div>
</div>


@code 
{
    [Parameter, EditorRequired]
    public int Index { get; set; }
}
