@using UfoGame.Model
@using UfoGame.Model.Data
@using UfoGame.ViewModel
@inject MissionDeployment MissionDeployment
@inject MissionSite MissionSite
@inject MissionStats MissionStats
@inject Agents Agents
@inject ViewStateRefresh ViewStateRefresh


@* This col div is necessary to keep the rows one under another on wide screen *@
<div class="col">
    @* row-cols-auto here ensures the columns in the row are left-stacked to their width.
    See https://getbootstrap.com/docs/5.3/layout/grid/#row-columns *@
    <div class="row row-cols-auto">
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 75px">
                <iconify-icon icon="icon-park-solid:success"/>
                @* <span>100%</span> *@
                <span>@(MissionStats.SuccessChance + "%")</span>
            </div>
        </div>
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 77px">
                <span class="oi oi-pulse" style="width: 24px" aria-hidden="true"></span>
                @* <span>100%</span> *@
                <span>@(MissionStats.BaselineAgentSurvivalChance + "%")</span>
            </div>
        </div>
        <div class="col px-0">
            <div class="text-end" style="width: 38px">
                @* <span class="text-success">9999</span> *@
                <span class="text-success">@MissionStats.OurPower</span>
            </div>
        </div>
        <div class="col text-center px-0">
            <div class="fist-bump">
                <iconify-icon icon="fluent-emoji-high-contrast:right-facing-fist"/>
                <iconify-icon icon="fluent-emoji-high-contrast:left-facing-fist"/>
            </div>
        </div>
        <div class="col px-0">
            <div class="text-start" style="width: 38px">
                @* <span class="text-danger">9999</span> *@
                <span class="text-danger">@( MissionSite.CurrentlyAvailable ? MissionStats.EnemyPower : "-" )</span>
            </div>
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 145px">
                <span class="oi oi-people" style="width: 24px" aria-hidden="true"></span>
                @* <span>999/999 (9999)</span> *@
                <span>@Agents.AgentsAssignedToMission.Count/</span>
                <span>@MissionDeployment.Data.TransportCapacity</span>
                &nbsp;
                <span>(</span><span class="text-success">@Agents.AgentsAssignableToMission.Count</span><span>)</span>
            </div>
        </div>
    </div>
</div>
@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewStateRefresh.Event += StateHasChanged;
    }
}